.chlorine-http-warning {
  background-color: red;
  padding: 4px;
  position: fixed;
  color: white !important;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  top: 3px;
  width: 96%;
  left: 2%;
  text-align: center;
  z-index: 2147483647;
}

.chlorine-http-warning a {
  text-decoration: underline;
  color: #FFF;
}

.chlorine-http-warning a:hover {
  text-decoration: underline;
  color: #BBB;
  cursor: pointer;
}
